# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png

# VS Code
.vscode/

# Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
DerivedData/

# Android Studio
.idea/
*.iml
.android/
.gradle/
